<div class="row">

  <% shifts.each.with_index do |shift, index| %>
  <% if first_night_shift && index == 0 %>
    <div class='col-1 border'>
      <p>Hora: <%= first_night_shift.start_time.strftime('%H:%M') %> - <%= first_night_shift.end_time.strftime('%H:%M') %></p>
      <p>Dia: <%= @first_night_shift.day_of_week %></p>
      <p>Número de empleados: <%= first_night_shift.number_employees %></p>
        <ul>
          <% first_night_shift.employees.each do |employee| %>
            <li><p>Empleado: <%= employee.name %></p></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class='col-1 border'>
      <p>Hora: <%= shift.start_time.strftime('%H:%M') %> - <%= shift.end_time.strftime('%H:%M') %></p>
      <p>Número de empleados: <%= shift.number_employees %></p>
      <ul>
        <% shift.employees.each do |employee| %>
          <li><p>Empleado: <%= employee.name %></p></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
