<div class="row">
  <% shifts.each do |shift| %>
    <div class='col-4 border'>
      <p>Hora: <%= shift.start_time.strftime('%H:%M') %> - <%= shift.end_time.strftime('%H:%M') %></p>
      <p>Número de empleados: <%= shift.number_employees %></p>
    </div>
    <div class='col-6 border'>
      <% shift.employees.each do |employee| %>
        <div class='d-flex'>
          <p>Empleado: <%= employee.name %> </p>
          <%= link_to assignments_path(@assignment_delete), data: { turbo_method: :delete, turbo_confirm: "Seguro que desea eliminar el turno?" } do %>
          <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
