<%= link_to 'Atrás', shifts_path, class: "btn btn-secondary" %>
<div class="container mt-2">
  <div class="row">
    <div class="col justify-content-between">
      <%= link_to "Día Anterior", per_day_shifts_path(date: @selected_date.prev_day), class: "btn btn-primary" %>
    </div>
    <div class="col text-center">
      <h5>Día <%= @shifts.first.day_of_week %> <%= @selected_date.strftime('%d-%m-%Y') %></h5>
    </div>
    <div class="col text-right">
      <%= link_to "Próximo Día", per_day_shifts_path(date: @selected_date.next_day), class: "btn btn-primary" %>
    </div>
  </div>

  <% if @shifts.any? %>
  <h6>Turnos Noche</h6>
  <%= render 'shifts/shifts', shifts: @night_shifts %>
  <h6>Turnos Mañana</h6>
  <%= render 'shifts/shifts', shifts: @morning_shifts %>
  <h6>Turnos Tarde</h6>
  <%= render 'shifts/shifts', shifts: @afternoon_shifts %>

  <% else %>
    <p>No hay turnos asignados para este día.</p>
  <% end %>
</div>
